include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include education *.css
recursive-include education *.csv
recursive-include education *.html
recursive-include education *.ico
recursive-include education *.js
recursive-include education *.json
recursive-include education *.md
recursive-include education *.png
recursive-include education *.py
recursive-include education *.svg
recursive-include education *.txt
recursive-exclude education *.pyc