{% extends "templates/base.html" %}
{% block title %}{{ education_settings.portal_title }} CBT{% endblock %}
{% from "www/cbt/macros/card.html" import program_card %}
{% from "www/cbt/macros/card.html" import null_card %}

{% set active_page = active_page|default('dashboard') -%}

{% block head_include %}
<meta name="description" content="{{ education_settings.description }}" />
<meta name="keywords"
	content="ERP Software, Cloud ERP, Open Source ERP, Accounting Software, Online ERP, Online Accounting, ERP for small business" />
<style>
	div.card-hero-img {
		height: 220px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-color: rgb(250, 251, 252);
	}

	.card-image-wrapper {
		display: flex;
		overflow: hidden;
		height: 220px;
		background-color: rgb(250, 251, 252);
		justify-content: center;
	}

	.image-body {
		align-self: center;
		color: #d1d8dd;
		font-size: 24px;
		font-weight: 600;
		line-height: 1;
		padding: 20px;
	}

	section {
		padding: 5rem 0 5rem 0;
	}

	.sidebar .nav-link.active {
		color: #007bff;
	}

	.sidebar .nav-link {
		font-weight: 500;
		color: #333;
	}
</style>
{% endblock %}

{%- block navbar -%}
<nav class="navbar navbar-light navbar-expand">
	<div class="container">
		<a class="navbar-brand ml-4" href="/">The Concord School</a>
		<button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
			class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
			<span>
				<svg class="icon icon-lg">
					<use href="#icon-menu"></use>
				</svg>
			</span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="ml-auto navbar-nav">
				<li class="shopping-cart cart-icon" style="display: none;">
					<a class="nav-link" href="/cart">
						<svg class="icon icon-lg">
							<use href="#icon-assets"></use>
						</svg>

					</a>
				</li>
				<!-- post login tools -->
				<li class="nav-item dropdown logged-in" data-label="website-post-login" id="website-post-login"
					style="">
					<a class="nav-link nav-avatar" data-toggle="dropdown" href="#" aria-expanded="false">
						<span class="user-image-wrapper"><span class="avatar avatar-medium filterable"
								title="Administrator" data-filter="_assign,like,%null%">
								<img class="" src="{{student.image}}" />
							</span></span>
					</a>
					<ul class="dropdown-menu dropdown-menu-right" role="menu"><a class="dropdown-item" href="/me"
							rel="nofollow">
							My Account
						</a><a class="dropdown-item" href="/?cmd=web_logout" rel="nofollow">
							Logout
						</a><a class="dropdown-item switch-to-desk" href="/lms">LMS</a>
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link btn-login-area" href="/login" style="display: none;">Login</a>
				</li>
			</ul>
		</div>
		<div class="form-group mb-0 hide" id="language-switcher">
			<select class="form-control"></select>
		</div>
	</div>
</nav>
{%- endblock -%}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<nav class="col-md-2 d-none d-md-block bg-light sidebar">
			<div class="sidebar-sticky">
				<ul class="nav flex-column">
					<li class="nav-item">
						<a {% if active_page == "dashboard"%} class="nav-link active" {% else %}class="nav-link" {% endif %} href="/student">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
								fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
								stroke-linejoin="round" class="feather feather-home">
								<path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
								<polyline points="9 22 9 12 15 12 15 22"></polyline>
							</svg>
							Dashboard <span class="sr-only">(current)</span>
						</a>
					</li>
					<!-- <li class="nav-item">
						<a class="nav-link" href="#">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
								fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
								stroke-linejoin="round" class="feather feather-shopping-cart">
								<circle cx="9" cy="21" r="1"></circle>
								<circle cx="20" cy="21" r="1"></circle>
								<path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
							</svg>
							Assignments
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
								fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
								stroke-linejoin="round" class="feather feather-users">
								<path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
								<circle cx="9" cy="7" r="4"></circle>
								<path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
								<path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
							</svg>
							Announcements
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
								fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
								stroke-linejoin="round" class="feather feather-bar-chart-2">
								<line x1="18" y1="20" x2="18" y2="10"></line>
								<line x1="12" y1="20" x2="12" y2="4"></line>
								<line x1="6" y1="20" x2="6" y2="14"></line>
							</svg>
							Reports
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
								fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
								stroke-linejoin="round" class="feather feather-layers">
								<polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
								<polyline points="2 17 12 22 22 17"></polyline>
								<polyline points="2 12 12 17 22 12"></polyline>
							</svg>
							Integrations
						</a>
					</li> -->
				</ul>

				<!-- <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
					<span>CBT</span>
					<a class="d-flex align-items-center text-muted" href="#">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
							stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
							class="feather feather-plus-circle">
							<circle cx="12" cy="12" r="10"></circle>
							<line x1="12" y1="8" x2="12" y2="16"></line>
							<line x1="8" y1="12" x2="16" y2="12"></line>
						</svg>
					</a>
				</h6> -->
				<ul class="nav flex-column mb-2">
					<li class="nav-item">
						<a {% if active_page == "exam"%} class="nav-link active" {% else %}class="nav-link" {% endif %} href="/student/exam">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
								fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
								stroke-linejoin="round" class="feather feather-file-text">
								<path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
								<polyline points="14 2 14 8 20 8"></polyline>
								<line x1="16" y1="13" x2="8" y2="13"></line>
								<line x1="16" y1="17" x2="8" y2="17"></line>
								<polyline points="10 9 9 9 8 9"></polyline>
							</svg>
							Exam
						</a>
					</li>
					<li class="nav-item">
						<a {% if active_page == "cbt_results"%} class="nav-link active" {% else %}class="nav-link" {% endif %} href="/student/result">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
								fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
								stroke-linejoin="round" class="feather feather-file-text">
								<path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
								<polyline points="14 2 14 8 20 8"></polyline>
								<line x1="16" y1="13" x2="8" y2="13"></line>
								<line x1="16" y1="17" x2="8" y2="17"></line>
								<polyline points="10 9 9 9 8 9"></polyline>
							</svg>
							CBT Results
						</a>
					</li>
				</ul>
			</div>
		</nav>

		<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
			<div class="chartjs-size-monitor"
				style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
				<div class="chartjs-size-monitor-expand"
					style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
					<div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
				</div>
				<div class="chartjs-size-monitor-shrink"
					style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
					<div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
				</div>
			</div>
			{% block dashboardinfo %}
			{%endblock%}
		</main>
	</div>
</div>




{% endblock %}
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.1/dist/Chart.min.js"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script>
	var ctx = document.getElementById("myChart");
	var myChart = new Chart(ctx, {
		type: 'line',
		data: {
			labels: {{ result_subjects }},
	datasets: [{
		data: {{ result_scores }},
		lineTension: 0,
		backgroundColor: 'transparent',
		borderColor: '#007bff',
		borderWidth: 4,
		pointBackgroundColor: '#007bff'
		}]
	  },
	options: {
		scales: {
			yAxes: [{
				ticks: {
					beginAtZero: false
				}
			}]
		},
		legend: {
			display: false,
		}
	}
	});
</script>
{% endblock %}