<div class="web-list-item transaction-list-item">
	{% set today = frappe.utils.getdate(frappe.utils.nowdate()) %}
	<a href="/{{ doc.route }}" class="no-underline">
		<div class="row">
			<div class="col-sm-4 bold">
				<span class="indicator
				{% if doc.status == 'Admission Open' and frappe.utils.getdate(doc.end_date) == today %}
					red
				{% elif doc.status == 'Admission Open' %}
					green
				{% elif doc.status == 'Published' %}
					blue
				{% else %}
					gray
				{% endif %}
				">{{ doc.title or doc.name }}</span>
			</div>
			<div class="col-sm-2 small">
				<span class="text-muted">
					{{ _("Academic Year") }}
				</span>
				<div class="text-muted bold">
					{{ doc.academic_year }}
				</div>
			</div>
			<div class="col-sm-3 small">
				<span class="text-muted">
					{{ _("Starts on") }}
				</span>
				<div class="text-muted bold">
					{{ frappe.format_date(doc.start_date) }}
				</div>
			</div>
			<div class="col-sm-3 small">
				<span class="text-muted">
					{{ _("Ends on") }}
				</span>
				<div class="text-muted bold">
					{{ frappe.format_date(doc.end_date) }}
				</div>
			</div>
		</div>
	</a>
</div>
